/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.me-auto {
    margin-left: 40%;
}

.appunto {
    width: 60%;
    margin: 0 auto;
}
.banner ul {
    list-style: none;
}
