main div{
    margin: 0 auto;
    margin-top: 3%;
}
.tarjetaUsuarios{
height: 400px;
width: 70%;
border-radius: 8px;
background-color: rgb(224, 224, 224);
border-bottom: 2px solid rgb(194, 194, 194);
border-right: 2px solid rgb(194, 194, 194);
}